/* Change all box sizing to border box */

* {
    box-sizing: border-box;
}

html{
    display: flex;
}

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    /* Add flex box to the entire body */
    display: flex;
    flex-direction: column;

    background-color: lightgrey;

    flex: auto;
}

.header h1 {
    font-size: 3em;
    font-weight: bold;

    color: white;

    padding-top: 1%;
    padding-bottom: 1%;

}

/* Styling for the header */

.header {
    flex: auto;
    background-color: #020222;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

}

.game {
    /* Add flex box to the game section */
    display: flex;
    flex-direction: row;


    flex: auto;

}

.user {

    /* Add flex box to the user section */
    display: flex;
    flex-direction: column;

    align-items: center;

    flex: auto;

}

.cpu {

    /* Add flex box to the user section */
    display: flex;
    flex-direction: column;

    align-items: center;

    flex: auto;

}

.score {
    /* Add flex box to the score     section */
    display: flex;
    flex-direction: row;
    justify-content: space-around;


    margin: 5% 10%;

}

.score button {

    margin: 0px 100%;
    border-radius: 16px;
    padding: 8px;
    background-color: white;
    font-style: bold;
    font-size: 16px;
    white-space: nowrap;
}

/* Display holder for the images - essentially take up the empty space the images otherwise would */
/* .image p { */
    /* padding: 84px; */
    /* padding-top:20vh;
    padding-bottom: 20vh;
    padding-left: 15vh;
    padding-right: 15vh; */
    /* display: none; */
/* } */

.placeHolder {

    display: flex;
    height: 45vh;
    width: auto;
    border: 0.2em solid #020222;
    
}
/* Hide all the display images */
.hidden {
    display: none;

    /* height: 200px; */
    height: 45vh;
    width: auto;

    background-color: white;

    border: 0.2em solid #020222;
}

.selection{
    margin: 16px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.selection button{
    /* height: 48px;
    width: 48px; */
    margin: 0px 16px;
    background-color: white;
    border: 0.2em solid #020222;
    
}
.selection img {

    
    height: 48px;

}


/* Styling for the popup before and after games */
.popup{
    background-color: rgb(200, 200, 200);
    position: absolute;

    height: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    
    border: 0.7em solid #020222;
    border-radius: 10px;

    display: flex;
    flex-direction: column;

    align-items: center;

    justify-content: space-around;

}

.popup p{

    font-size: 4vh;

}

.popup button{
    font-size: 2.5vh;
    background-color: #020222;

    padding: 1% 3%;

    border-radius: 3%;

    color: rgb(200, 200, 200);
}

#playAgain{

    display: none;
}

